layout {

    focus-ring {
        active-color   "#72d2ff"
        inactive-color "#12131c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#72d2ff"
        inactive-color "#12131c"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#72d2ff"
        inactive-color "#004d66"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#72d2ff80"
    }
}

recent-windows {
    highlight {
        active-color "#72d2ff"
        urgent-color "#ffb4ab"
    }
}
