layout {

    focus-ring {
        active-color   "#bec2ff"
        inactive-color "#131316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bec2ff"
        inactive-color "#131316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bec2ff"
        inactive-color "#373e90"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bec2ff80"
    }
}

recent-windows {
    highlight {
        active-color "#bec2ff"
        urgent-color "#ffb4ab"
    }
}
