@import 'colors.css';
@import 'themes/nova-dark/notifications.css';
@import 'themes/nova-dark/central_control.css';

/* Global overrides */
window {
    background-color: transparent;
}

* {
    color: @fg-primary;
}